{% extends "app/layout.html" %}

{% block content %}
  <div>
    <table>
      <tr>
        <th>Candidato</th>
        <th>RG</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>endereço</th>
      </tr>
      {% for p in lista_candidatos %}
        <tr>
          <td>{{ p.nome }}</td>
          <td>{{ p.RG }}</td>
          <td>{{ p.CPF }}</td>
          <td>{{ p.telefone }}</td>
          <td>{{ p.endereco }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
